@media screen and (max-width: 1200px) {
    .secondaryHero2 {
        height: 70vh;
    }
}

@media screen and (max-width: 992px ) {
    .secondaryHero2 {
        height: 50vh;
    }
}

@media screen and (max-width: 576px) {
    .secondaryHero2 {
        height: 35vh;
    }
}

@media screen and (max-width: 768px) {
    .filtros {
        display: none;
    }
}